venv
*.pyc
staticfiles
.env
farjad/__pycache__/
farjad/views/__pycache__/
members/__pycache__/
members/forms/__pycache__/

**/migrations/**
!**/migrations/__init__.py
#.idea/*
db.sqlite3*

farjad/templatetags/__pycache__/
farjad/utils/__pycache__/
members/views/__pycache__/
