<html lang="en">
{% load static %}
{% load staticfiles %}
<head>
    {% block js %}
        <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}BookAndBook {% endblock %}</title>
</head>

<body
>
{% block body %}
{% endblock %}
</body>
</html>