<div class="ui secondary stackable pointing menu">{% if request.user.is_authenticated %}

    <a class="item {% if active == 2 %}active{% endif %} "
       href="{% url 'members:self:books:all' %}">
        <img class="ui avatar image" src="{{ request.user.image_url }}"></a>
{% endif %}
    <a class="{% if active == 0 %}active{% endif %} item">
        Home
    </a>
    <a class="{% if active == 1 %}active{% endif %} item">
        Books
    </a>
    <div class="right menu">
        {% if request.user.is_authenticated %}

            <span class="item">{{ request.user.full_name }} سلام </span>
            <a class="item" href="{% url 'members:logout' %}">
                خروج
            </a>
        {% else %}
            <a class="item" href="{% url 'members:login' %}">
                ورود
            </a>
            <a class="item" href="{% url 'members:join' %}">
                ثبت‌نام
            </a>

        {% endif %}

    </div>
</div>