<div class="ui secondary {% if inverted %}inverted{% else %}stackable{% endif %} pointing menu">
    {% if request.user.is_authenticated %}
        <a class="item {% if active == 2 %}active{% endif %} "
           href="{% url 'members:self:books:all' %}">
            <img class="ui avatar image" src="{{ request.user.image_url }}"></a>
    {% endif %}
    <a class="{% if active == 0 %}active{% endif %} item" href="{% url 'home' %}">
        Home
    </a>
    <a class="{% if active == 1 %}active{% endif %} item" href="{% url 'books:all' %}">
        Books
    </a>
    <div class="right menu">
        {% if request.user.is_authenticated %}
            <span class="item">اعتبار: {{ request.user.balance }} تومان</span>
            <span class="item">سلام, {{request.user.full_name}}</span>
            <a class="item" href="{% url 'members:logout' %}">
                خروج
            </a>
        {% else %}
            <a class="item" href="{% url 'members:authentication:phone' %}">
                ورود
            </a>

        {% endif %}

    </div>
</div>