{% extends 'members/__base_panel.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script type="application/javascript"
            src="{% static 'loan/js/lender_loan_state.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="ui relaxed divided items">
        {% csrf_token %}
        {% for loan in loans %}

            <div class="item" style="direction: rtl">
                <div class="ui  image">
                    <img src="/static/books/icons/75801069.jpg" style="height: 22rem">
                </div>
                <div class="content" style="margin-right: 1rem">
                    <input hidden class="change-state-url"
                           value="{% url 'members:self:loans:borrower-change-state' loan_pk=loan.pk %}">

                    <div class="ui info message ">
                        <div class="header " style="direction: rtl">
                            <a class="header"> کتاب {{ loan.book.title }} </a>
                            <div class="meta">
                                نویسنده: {{ loan.book.author }}
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        {{ loan.book.description }}
                    </div>
                    <div class="description">
                        {{ loan.book.summary }}
                    </div>
                    <div style="margin-top: 1rem">
                        <i class="dollar icon"></i>
                        {{ loan.book.price }}
                    </div>
                    <div class="description">
                        <div class="three fields">
                            <span class="field">
                                <b>بازه زمانی:</b> {{ loan.book.period }}
                            </span>
                            <span class="field" style="margin-right: 6rem">
                                <b>رده سنی:</b> {{ loan.book.reader_age }}
                            </span>
                            <span class="field" style="margin-right: 6rem">
                                <b>ژانر:</b> {{ loan.book.genre }}
                            </span>
                            <span class="field" style="margin-right: 6rem">
                                <b>سال انتشار:</b> {{ loan.book.pub_date }}
                            </span>
                        </div>


                    </div>
                    <div class="extra" style="margin-top: 3rem">
                        وضعیت:
                        <span class="ui label state"
                              style="margin-top: 0.4rem">{{ loan.state.state }}</span>
                        <div class="left floated content">
                            {% include 'state_buttons.html' with buttons=loan.state.borrower_buttons %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}