{% extends 'members/__base_panel.html' %}

{% block content %}
    <div class="ui celled list">
        {% for loan in loans %}
            <div class="item" style="direction: rtl">

                <img class="ui avatar image" src="/static/members/icons/default_profile.png">
                <div class="content" style="margin-right: 1.1em">
                    <div class="header">
                        {{ loan.borrower.username }}
                    </div>
                    <div class="meta">
                        {{ loan.borrower.first_name }} {{ loan.borrower.last_name }} کتاب را
                        امانت گرفته است.
                    </div>
                </div>

                <img class="ui avatar image" src="/static/books/icons/75801069.jpg">
                <div class="content" style="margin-right: 1.1em">
                    <div class="header">
                        {{ loan.book.title }}
                    </div>
                    <div class="meta">
                        {{ loan.book.author }}
                    </div>
                </div>
                <span class="meta">               <b>تاریخ شروع:</b>
                    {{ loan.date }}
                </span>
                <span class="meta" style="margin-right: 0.75rem">               <b>تاریخ پایان:</b>
                    {{ loan.date }}
                </span>

            </div>
        {% endfor %}
    </div>

{% endblock %}