<html lang="en">
{% load static %}
{% load staticfiles %}
<head>
    {% block js %}
        <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="ui middle aligned center aligned grid" style="background-image: url(http://www.kumc.edu/images/history%20of%20medicine/library.jpg);
 background-repeat: no-repeat ;
  background-position:center;
background-size: cover">
    <div class="column">
        <div class="ui form">
            <h2 class="ui center aligned header">
                <img class="ui icon small circular image"
                     src={% static 'members/icons/Icon-book.svg' %}>
            </h2>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>