<html lang="en">
{% load static %}
{% load staticfiles %}
<head>
    {% block js %}
        <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% include 'farjad/main_navbar.html' with active=request.selected_tab %}
<div class="ui grid">
    <div class="twelve wide stretched column">
        {% block body %}

        {% endblock %}
    </div>
    <div class="four wide column">
        <div class="ui vertical fluid right tabular menu">
            <a class="{% if request.admin_area == 'my_books' %}active {% endif %}item">
                کتاب‌های من
            </a>
            <a class="{% if request.admin_area == 'my_requests' %}active {% endif %}item">
                درخواست‌های امانت
            </a>
        </div>
    </div>
</div>
</body>
</html>