<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<form class="ui large form" action="" method="post" novalidate autocomplete="off">
    {% csrf_token %}
    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                {{ form.username_or_phone }}
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ form.password }}

            </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">ورود</button>
    </div>

    <button type="submit" class="ui fluid large teal submit button">ورود</button>

</form>
</body>
</html>