{% extends 'members/__base.html' %}
{% load static %}
{% load utils_tags %}
{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'members/log-in/css/log-in.css' %}">
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}


{% block body %}
    {{ block.super }}
    {% include 'members/__navbar.html' %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                    ورود کاربر
                </div>
            </h2>
            <form class="ui large form" action="" method="post" novalidate autocomplete="off">
                {% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {% field_tag form.username_or_phone placeholder="نام کاربری"%}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {% field_tag form.password  placeholder="گذرواژه" %}

                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button">ورود</button>
                </div>

                <div class="ui error message"></div>

            </form>

        </div>
    </div>

{% endblock %}