{% extends 'members/__base_authentication.html'%}
{% load static %}
{% load utils_tags %}
{% load staticfiles %}

{% block title %}{{ block.super }}> Login{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'members/log-in/css/log-in.css' %}">
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}


{% block body %}
    {{ block.super }}

    <form class="ui form" action="" method="post"
          novalidate=""
          autocomplete="off">
        {% csrf_token %}
        <div class="field">
            <div class="ui left icon input">
                {% field_tag form.phone placeholder="شماره همراه" %}
                <i class="lock icon"></i>
            </div>
        </div>
        <button type="submit" class="ui blue submit button fluid  ">ورود</button>
    </form>
    <a href="{% url "members:join" %}">

        <label style="color: forestgreen" class="ui label">ثبت‌نام کنید
        </label></a>
    <label class="ui label">هنوز عضو نشده‌اید ؟‌
    </label>


{% endblock %}