{% extends 'members/__base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'members/log-in/css/log-in.css' %}">
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}
<body>
{{ block.super }}
{{ profile }}

<div class="contenta">
        <div class="ui divided selection list">
            {#            <div class="logo-div">#}
            <div class="ui medium circular image logo">
                {{ request.user.member.profile_picture }}
                <img src="../../static/members/icons/logo.png">
            </div>
            {#            </div>#}
            <div class="item text">
                <div class="ui  horizontal label pro_field">User Name</div>
                us name
            </div>
            <div class="item text">
                <div class="ui  horizontal label pro_field">First Name</div>
                fname
            </div>
            <div class="item text">
                <div class="ui  horizontal label pro_field">Last Name</div>
                l name
            </div>
        </div>
        <div class="ui visible message">
            <p>Notification</p>
        </div>
        <div class="ui visible message">
            <p>Notification</p>
        </div>
        <div class="ui visible message">
            <p>Notification</p>
        </div>

    </div>
</body>
</html>