{% extends 'members/__base_panel.html' %}
{% block content %}
    <div class="ui info message">
        <div class="header " style="direction: rtl">
            <a href="{% url "members:self:books:new" %}"> اضافه کردن کتاب جدید</a>
        </div>
    </div>

    <div class="ui link cards" style="direction: rtl">
        {% for book in books %}
{##}
{#            <div class="ui  card ">#}
{#                <div class="image">#}
{#                    <img src="/images/avatar2/large/kristy.png">#}
{#                </div>#}
{#                <div class="content">#}
{#                    <div class="header">{{ book.title }}</div>#}
{#                    <div class="meta">#}
{#                        <span class="right floated time">{{ book.price }}  </span>#}
{#                        <span class="category">{{ book.author }}</span>#}
{#                    </div>#}
{#                    <div class="description">#}
{#                        <p>#}
{#                            {{ book.summary }}#}
{#                        </p>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
      <div class=" ui meduim card">
    <div class="image">
      <img class="tiny" src={{book.owner.image_url  }}>
    </div>
    <div class="content">
      <div class="header">{{ book.title }}</div>
      <div class="meta">
        <a>{{ book.author }}</a>
      </div>
      <div class="description">
        {{ book.description }}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
       مناسب برای رده سنی {{ book.reader_age }}
      </span>
      <span class="left floated">
        <i class="dollar icon"></i>
        {{ book.price }}
      </span>
{#         <span class="right floated">#}
{#       ژانر {{ book.genre }}#}
{#      </span>#}
    </div>
  </div>
        {% endfor %}

    </div>




{% endblock %}