{% extends 'members/__base_panel.html' %}
{% block content %}
    <div class="ui info message">
        <div class="header " style="direction: rtl">
            <a href="{% url "members:self:books:new" %}"> اضافه کردن کتاب جدید</a>
        </div>
    </div>

    <div class="ui link cards" style="direction: rtl">
        {% for book in books %}
      <div class=" ui meduim card">
    <div class="image">
      <img class="tiny" src="/static/books/icons/75801069.jpg" style="height: 24rem">
    </div>
    <div class="content">
      <div class="header">{{ book.title }}</div>
      <div class="meta">
        <a>{{ book.author }}</a>
      </div>
      <div class="description">
        {{ book.description }}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
       مناسب برای رده سنی {{ book.reader_age }}
      </span>
      <span class="left floated">
        <i class="dollar icon"></i>
        {{ book.price }}
      </span>
    </div>
  </div>
        {% endfor %}

    </div>




{% endblock %}