{% extends 'farjad/__base.html' %}
{% load utils_tags %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script type="application/javascript"
            src="{% static 'books/js/all_books.js' %}"></script>

{% endblock %}
{% block body %}
    {% include 'farjad/main_navbar.html' with active=1 %}
    {% csrf_token %}
    <form class="ui form " method="get" action="{% url 'books:all' %}">
        <div class="fields">
            <div class="two wide field"></div>
            <div class="twelve wide field">
                <div class="ui right action left icon input">
                    <button class="ui basic button">
                        <i class="search icon"></i>
                        جست‌وجو
                    </button>
                    <input placeholder="جست و جو" type="text" name="query" value="{{ query }}"style="direction: rtl">
                    <label>
                        <select style="direction: rtl" class="ui compact selection dropdown" name="field">
                            <option style="direction: rtl"  {% if field == '' %} selected {% endif %} value="">همه
                            </option>
                            <option {% if field == 'title' %} selected {% endif %} value="title">
                                عنوان
                            </option>
                            <option {% if field == 'author' %} selected {% endif %}value="author">
                                نام نویسنده
                            </option>
                            <option {% if field == 'genre' %} selected {% endif %}  value="genre">
                                ژانر
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="two wide field"></div>
        </div>

    </form>
    {#    </h1>#}
    <div class="ui link cards" style="direction: rtl;margin-right: 5%">
        <input hidden id="create-loan-url" value="{% url 'api:create-loan' %}">
        {% for book_dic in books %}
            {% with  book_dic.book_info as book %}
                <input hidden id="book-id" value="{{ book.pk }}">

            <div class="ui card" href="{% url 'books:detail' book_pk=book.pk %}">
            <div class="ui two buttons">
                    <a class="ui button" style="font-size: small"
                       href="{% url 'members:profile' book.owner.pk %}">
 صاحب کتاب: {{ book.owner.username }}
                        {{ book.ownwer.first_name }}  {{ book.ownwer.last_name }}
                    </a>

                </div>
                <div class="image">
                    <img src="{{ book.image_url }}">
                </div>

                    <div class="ui two buttons">
                        <a class="ui button" style="font-size: small"
                           href="{% url 'books:detail' book_pk=book.pk %}">
                            مشاهده کتاب
                        </a>
                        <input hidden class="book-id" value="{{ book.pk }}">

                        <button style="font-size: small;
                                {% if not book_dic.not_valid_state %}
                                    display: none
                                {% endif %}"
                                class="ui blue button loan-request">
                            درخواست امانت
                        </button>
                        <button disabled style="font-size: small;
                                {% if book_dic.not_valid_state %}
                                    display: none
                                {% endif %}"
                                class="ui green button loan-state">
                            {{ book_dic.loan_state }}
                        </button>
                    </div>
                    <div class="extra content">
                        <div class="right floated">
                            <span>مناسب برای رده سنی</span> {{ book.reader_age }}
                        </div>
                        <div class="left floated">{{ book.price }}
                            <span>تومان</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="header">{{ book.title }}</div>
                        <div class="meta">
                            <a>نویسنده : {{ book.author }}</a>
                        </div>

                        <div class="description"
                             style="white-space: nowrap;width: 100%;
                         overflow: hidden;text-overflow: ellipsis; ">
                            {{ book.summary }}
                        </div>
                    </div>
                </div>
            {% endwith %}

        {% endfor %}

    </div>
{% endblock %}