{% extends 'members/__base_panel.html' %}
{% load utils_tags %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'books/css/submitBook.css' %}">
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{#    <div class="ui breadcrumb">#}
{#        <a href="{% url 'members:self:books:all' %}">#}
{#            <div class="section">کتاب‌های من</div>#}
{#        </a>#}
{#        <div class="divider"> <</div>#}
{#    </div>#}


    <div class="ui form tiny segment container " style="background-color: white ">

        <h2 class="ui header" style="margin-top: 1%">
            <i class="settings icon Plus"></i>
            <div class="content">
                اضافه کردن کتاب
                <div class="sub header">برای اضافه کردن کتاب جدید ,اطلاعات زیر را تکمیل کنید.</div>
            </div>
        </h2>

        <form action="" method="post" novalidate="" autocomplete="off">
            {% csrf_token %}
            <div class="three fields" style="margin-top: 5%;">
                <div class="field">
                    <label>عنوان کتاب</label>

                    {% field_tag form.title  %}
                </div>
                <div class="field">
                    <label>نویسنده کتاب</label>
                    {% field_tag form.author %}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>سال انتشار</label>
                    {% field_tag form.pub_date  %}
                </div>
                <div class="field">
                    <label>تعداد انتشار</label>
                    {% field_tag form.jeld_num %}
                </div>
            </div>
            <div class="three fields">
                <div class="field selection dropdown">
                    <label>ژانر</label>
                    {% field_tag form.genre placeholder="ژانر" %}
                </div>
                <div class="field selection dropdown">
                    <label>رده سنی</label>
                    {% field_tag form.reader_age placeholder="رده سنی" %}
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label>تعداد صفحات</label>

                    {% field_tag form.page_num %}
                </div>
                <div class="field">
                    <label>طول کتاب</label>

                    {% field_tag form.length %}
                </div>
                <div class="field">
                    <label>عرض کتاب</label>

                    {% field_tag form.width %}
                </div>
            </div>

            <div class="field">


                {% field_tag form.description placeholder="توصیف کتاب" %}
            </div>
            <div class="field">

                {% field_tag form.summary placeholder="خلاصه کتاب" %}
            </div>
            <div class="field">


                <div class="field selection dropdown " hidden>
                    <label>صاحب کتاب</label>
                    {% field_tag form.owner placeholder="صاحب کتاب" %}
                </div>
            </div>

            <h5 class="ui header">شرایط شما برای قرض این کتاب :</h5>
            <div class="three fields">
                <div class="field selection dropdown">
                    <label>بازه زمانی</label>
                    {% field_tag form.period placeholder="بازه زمانی" %}
                </div>

                <div class="field">
                    <label>هزینه</label>

                    {% field_tag form.price %}
                </div>
            </div>
            <div class="three fields" style="margin-top: 5%">
                <div class="field"></div>
                <div class="field">
                    <button type="submit" class="ui fluid teal submit button">ثبت کتاب
                    </button>
                </div>
                <div class="field"></div>
            </div>


        </form>
    </div>





{% endblock %}