{% extends 'farjad/__base.html' %}

{% load  static %}
{% block css %}

    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'books/css/book_details.css' %}">
{% endblock %}
{% block js %}

    {{ block.super }}
    <script type="application/javascript"
            src="{% static 'books/js/create_comment.js' %}"></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    {% include 'farjad/main_navbar.html' with active=2 %}
    <input type="hidden" id="create-comment-url" value="{% url 'books:comment' book_pk=book.pk %}">
    <div class="ui internally celled grid">
        <div class="row">
            <div class="three wide column">
                <img src="{{ book.image_url }}">
            </div>
            <div class="ten wide column" style="direction: rtl">
                <h1 class="ui header">{{ book.title }}</h1>
                <div>
                    <div class="ui grid">
                        <div class="four column row">
                            <div class="right floated column">
                                <h5
                                        class="ui right header">
                                    <span class="ftitle">نویسنده:</span> {{ book.author }}
                                    <h5><span class="ftitle">نام صاحب کتاب:</span> {{ book.owner.last_name}} {{ book.owner.first_name}}</h5>
                                </h5>
                            </div>

                            <div class="left floated column" style="direction: ltr;">
                                <a href="{% url 'books:edit' book_pk=book.id %}">
                                </a>
                            </div>
                            <a href="{% url 'members:profile' book.owner.pk %}">
                                <img class="ui left floated medium circular image"
                                     style="width: 125px;height: 125px; margin-top:-4rem;margin-left: 5rem"
                                     src={{ book.owner.image_url }}></a>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui top attached message">
                    <div class="ui grid">
                        <div class="three column row">
                            <div class="column">
                                <span class="ftitle"> دوره امانت: </span>
                                {{ book.period }}</div>
                            <div class="column">
                                <span class="ftitle">هزینه: </span>
                                {{ book.price }}
                                <span>تومان</span></div>
                        </div>
                    </div>
                </div>
                <h5 class="inner-Header"> اطالاعات چاپ :</h5>
                <div class="ui grid">
                    <div class="three column row">
                        <div class="column"><span class="ftitle"> سال چاپ: </span>
                            {{ book.pub_date }}
                        </div>
                        <div class="column"><span class="ftitle">ژانر: </span>
                            {{ book.genre }}
                        </div>
                        <div class="column"><span class="ftitle"> تیراژ: </span>
                            {{ book.jeld_num }}
                        </div>
                    </div>
                </div>
                <h5 class="inner-Header"> گروه سنی :</h5>
                <div class="ui grid">
                    <div class="sixteen wide column"> {{ book.reader_age }}</div>
                </div>

                <h5 class="inner-Header"> سایز :</h5>
                <div class="ui grid">
                    <div class="three column row">
                        <div class="column"><span class="ftitle"> تعداد صفحات: </span>
                            {{ book.page_num }}
                        </div>
                        <div class="column"><span class="ftitle"> طول کتاب: </span>
                            {{ book.lengh }}
                        </div>
                        <div class="column"><span class="ftitle"> عرض کتاب: </span>
                            {{ book.width }}
                        </div>
                    </div>
                </div>
                <h5 class="inner-Header"> توضیحات شما :</h5>

                <div class="ui grid">
                    <div class="sixteen wide column"> {{ book.description }}</div>
                </div>
                <h5 class="inner-Header"> خلاصه کتاب :</h5>

                <div class="ui grid">
                    <div class="sixteen wide column"> {{ book.summary }}</div>
                </div>
            </div>
        </div>

        <div class="row" style="direction: rtl">
            <div class="ten wide column" style=" margin-right: 20%">
                <h3 class="ui header">نظرات
                    کاربران</h3>
                {% for comment in book.comments.all %}
                    <h4 class="ui header">
                        <img src="{{ comment.writer.image_url }}">
                        <div class="content">
                            {{ comment.writer.full_name }}
                            <div class="sub header">{{ comment.date }}</div>
                        </div>
                    </h4>
                    {{ comment.text }}
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <div class="ui reply form" style="margin-top: 10%">
                        <h4>نظر شما:</h4>
                        <div class="field">
                    <textarea id="new-comment">

                    </textarea>
                        </div>
                        <div class="ui button teal submit labeled icon left floated ">
                            <i class="icon edit"></i> ثبت نظر
                        </div>
                    </div>
                {% else %}
                    <div class="ui reply form" style="margin-top: 5%; margin-bottom: 20%">

                        شما برای نظر دادن باید
                        <a href="{% url 'members:authentication:phone' %}">وارد</a> شوید
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}